/OperationsApi/obj
/OperationsApi/bin
/OperationsApi.BusinessLogic/obj
/OperationsApi.BusinessLogic/bin
/OperationsApi.Tests/obj
/OperationsApi.Tests/bin
/OperationsApi.Harness/obj
/OperationsApi.Harness/bin
