<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudWatch" version="3.3.0.2" targetFramework="net461" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.1" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.5" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.3.2.3" targetFramework="net461" />
  <package id="AWSSDK.Kinesis" version="3.3.0.3" targetFramework="net461" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.0.2" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.3.2.1" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.1.1" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.2" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net461" />
</packages>